<h3>Lista de herores</h3>

<div *ngIf="deletedHero; else  noDeletedHero">

  <h3>
    Heroe borrado
    <small class="text-danger"> {{ deletedHero }}</small>
  </h3>
</div>
<ng-template #noDeletedHero>
  <h3>
    No ha borrado nada
  </h3>
</ng-template>

<button class="btn btn-outline-danger" (click)="removeLastHero()" *ngIf="heroNames.length > 0">

  Borrar último héroe
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames" class="list-group-item">
    {{ name }}
  </li>
</ul>